*.suo
*.pyc
*.user
*.exe
*.msi
*.sln.docstates
*.fdx
*.prx
*.prx
*.snap
/**/bin
/**/obj
/**/.history
.metadata
/**/_Resharper*
/**/packages
/**/.nuget
.recommenders/
/**/idea
/Deploy/**/*
node_modules/